.order{
    margin: 0px 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order .item{
    border: 1px solid #a9a9a9a9;
    padding: 5px;
    display: grid;
    height: fit-content;
    max-width: 70vw;
    grid-template-columns: 0.5fr 2.5fr 1fr 1fr 1fr;
    align-items: center;
}

.order .item .customer-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order select{
    height: 30px;
    width: 180px;
    padding: 5px 10px;
    border:1px solid orangered;
    color: orangered;
}

.order select option:hover{
    background-color: orangered;
    color: white;
}

